:root {
  --color-primary: #126bc5;
  --color-secondary: #03039d;
  --color-accent--blue: #0b6efd;
  --color-accent--green: #398100;
  --color-accent--green-hover: #025e02;
  --color-body: #414042;
  --color-headings: #1e1e1c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
}

/* Links */

.link-arrow {
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 600;
  transition: color 0.3s;
  text-decoration: none;
}

.link-arrow:hover {
  color: var(--color-secondary);
}

.link--media {
  text-decoration: underline;
  font-size: 1em;
  font-weight: normal;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 2.2rem;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--large {
  width: 65px;
  height: 65px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--medium-small {
  width: 25px;
  height: 25px;
}

.icon--extrasmall {
  width: 16px;
  height: 16px;
}

.icon--light {
  fill: #c4c4c4;
}

.icon--dark {
  fill: #787878;
}

.icon--white {
  fill: #fff;
}

/* Buttons */
.btn {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.35;
  outline: 0;
  padding: 10px 10px;
  white-space: nowrap;
}

.btn--stretched {
  width: 100%;
}

.btn--green {
  color: #fff;
  background: var(--color-accent--green);
  transition: background 0.3s;
}

.btn--green:hover {
  background: var(--color-accent--green-hover);
}

.btn--blue {
  color: #fff;
  background: var(--color-accent--blue);
}

@media screen and (min-width: 660px) {
  .btn {
    font-size: 2rem;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* Lists */

.list {
  font-size: 2rem;
}

.list__item {
  border-bottom: 6px solid white;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list__item--underlined:hover {
  border-bottom: 6px solid var(--color-accent--blue);
}

/* Services */

.services {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 6rem;
}

.services__description {
  margin: 0;
}

.services__link {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.3s;
}

.services__link:hover {
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .services {
    font-size: 2.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

/* Form */

form {
  position: relative;
}

.form__container {
  font-size: 2.2rem;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: 1.5rem;
}

.form__container a {
  font-size: 1.75rem;
  font-weight: 450;
  margin-left: 4rem;
  vertical-align: bottom;
}

.form__input-fields {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form__input {
  border: none;
  border-bottom: 2px solid lightgrey;
  color: var(--color-body);
  outline: none;
  padding: 10px;
  width: 100%;
}

.form__label,
.label--password {
  color: #838080;
  left: 10px;
  position: absolute;
  top: 5px;
  transition: all 0.3s;
}

.label--password {
  left: 10px;
  position: absolute;
  top: 70px;
}

.form__input:focus {
  border-bottom: 3px solid var(--color-accent--blue);
}

.form__input:focus + .form__label,
input:not(:placeholder-shown) + .form__label {
  transform: translateY(-2.8rem) translateX(-1.5rem) scale(0.9);
}

.form__header {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 0;
}

.form__checkbox-label {
  color: #838080;
  font-size: 1.5rem;
  margin-left: 1.1rem;
  vertical-align: middle;
}

.form__checkbox {
  border-radius: 35px;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.form__checkbox:checked {
  accent-color: var(--color-accent--blue);
}

.form__button {
  font-size: 1.75rem;
  padding: 5px 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form__container a.form__link {
  margin-left: 0;
  display: block;
}

/* Media */

.media__title {
  color: var(--color-body);
  font-size: 2.75rem;
  font-weight: 600;
}

.media__description {
  font-size: 2.5rem;
}

/* Grids */
.grid {
  display: grid;
}

.grid--feature {
  column-gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

/*Features*/

.feature {
  border-top: 1px solid lightgray;
}

.feature__title {
  font-size: 3.5rem;
  font-weight: 300;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  margin-bottom: 1.5rem;
}

.feature__image {
  justify-self: left;
  width: 100%;
}

.feature__description {
  color: var(--color-body);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
}

.feature .btn {
  padding: 8px 25px;
}

@media screen and (min-width: 768px) {
  .feature__image {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    margin-top: 3rem;
  }

  .feature__title {
    grid-column: 2 / span 1;
  }

  .feature .btn {
    padding: 8px 50px;
  }
  .grid--feature {
    /* grid-template-rows: 1fr 2fr; */
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .feature__title {
    font-size: 5.5rem;
  }

  .feature__description {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) {
  .feature__title {
    font-size: 8.5rem;
  }

  .feature__description {
    font-size: 4rem;
  }
}

/* Stories */
.story {
  padding: 15px 10px;
  position: relative;
  margin-bottom: 3rem;
}

.story::after {
  content: " ";
  width: 50vw;
  height: 1px;
  background: lightgray;
  position: absolute;
  bottom: 0;
  right: 25vw;
}

.story--flex {
  display: flex;
}

.story__image {
  width: 35%;
  height: 35%;
}

.story__description {
  color: var(--color-body);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 0;
  margin-left: 1.5rem;
}

@media screen and (min-width: 375px) {
  .story::after {
    bottom: -15px;
  }
}

@media screen and (min-width: 768px) {
  .story--flex {
    display: inline-block;
  }

  .story::after {
    display: none;
  }

  .story__description {
    margin: 0;
    font-size: 1.6rem;
  }

  .story__image {
    width: 100%;
  }

  .story {
    margin-bottom: 1rem;
  }
}

/* Containers */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Navigation Bar */

.nav {
  padding: 10px 5px;
  align-items: center;
  justify-content: space-between;
}

.nav__logo img {
  width: 130px;
}

.nav .btn {
  font-size: 1.6rem;
}

.nav .btn--blue:hover {
  background: var(--color-secondary);
}

.nav__signin-btn,
.nav__signin-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav--flex {
    display: flex;
  }

  .nav__signin {
    align-self: flex-start;
  }

  .nav__signin-link {
    display: none;
  }

  .nav__signin-btn,
  .nav__signin-icon {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
  }

  .nav .btn {
    padding: 8px 20px;
  }

  .nav__logo {
    margin-left: 75px;
  }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .nav--desktop {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    display: none;
  }
}

/* Navigation Desktop */

.nav__sections a {
  color: var(--color-body);
  font-size: 1.75rem;
  font-weight: normal;
}

.nav__sections a:hover {
  color: var(--color-body);
}

.nav__sections img {
  width: 170px;
  margin-left: 40px;
}

.nav__list--light a {
  font-size: 1.5rem;
  opacity: 0.95;
}

.nav__list--dark .list__item {
  margin-right: 30px;
}

.nav--flex-justified {
  justify-content: space-between;
}

.nav--flex-justified .icon--medium-small {
  vertical-align: middle;
}

.nav__sections .nav--desktop-accent {
  color: var(--color-headings);
  font-weight: 600;
  border-bottom: 4px solid var(--color-accent--blue);
}

@media screen and (min-width: 1180px) {
  .nav__sections a {
    font-size: 2.15rem;
  }

  .nav__list--light a {
    font-size: 1.75rem;
  }
}

/* Hero Block */
.hero {
  color: #fff;
  font-size: 1.5rem;
  background: var(--color-primary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero__container {
  display: flex;
}

.hero__content {
  width: auto;
}

.hero__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}

.hero__button {
  font-size: 1.75rem;
  padding-left: 5px;
  padding-right: 5px;
}

.hero__image {
  height: 150px;
  margin-right: 10px;
}

.hero__form {
  display: none;
}

.hero__content-flex {
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .hero {
    font-size: 1.75rem;
  }

  .hero__title {
    font-size: 3.5rem;
  }
  .hero__image {
    height: 225px;
  }

  .hero__content {
    width: 350px;
  }

  .hero__button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .hero__form {
    background: #fff;
    display: block;
    width: 395px;
    font-size: 1.75rem;
    margin-right: 10px;
  }

  .hero__content {
    margin-right: 30px;
  }

  .hero__form .form__header {
    font-size: 2.5rem;
  }
  .form__container a {
    font-size: 1.5rem;
    opacity: 0.75;
  }
}

/* Credit Cards Block */

.credit-cards {
  padding: 10px;
}

.credit-card-horizontal__image {
  display: none;
}

.credit-card-vertical__image {
  display: none;
}

.credit-card-vertical-stretched__image,
.credit-card-vertical__image,
.credit-card-horizontal__image {
  width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 481px) {
  .credit-card-vertical-stretched__image {
    display: none;
  }

  .credit-card-horizontal__image {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .credit-card-horizontal__image {
    display: none;
  }

  .credit-card__container,
  .credit-card-vertical__image {
    display: flex;
    margin: auto;
  }

  .container {
    justify-content: center;
  }

  .credit-card-vertical__image {
    width: 95%;
  }
}

/* Features Block */

.features {
  padding: 10px;
}

.feature {
  margin-bottom: 25px;
}

.feature:nth-of-type(even) .feature__image {
  order: 3;
}

.feature:nth-of-type(even) .grid--feature {
  grid-template-columns: 2fr 1fr;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__image {
    order: 3;
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
  }

  .feature:nth-of-type(even) .feature__title {
    grid-column: 1 / span 1;
  }
}

/* Stories Block */

.stories {
  background: #f6f5f5;
  padding: 30px 20px;
}

.stories__heading {
  font-weight: 300;
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .stories__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .link--story {
    padding-left: 10px;
  }
}

/* Social Media Block */

.social-media__container {
  font-size: 1.75rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-top: 1px solid lightgray;
  padding-top: 2rem;
}

.social-media__icons {
  display: flex;
  justify-content: center;
}

.social-media__icons,
.social-media__link {
  align-self: center;
  margin-left: 10px;
}

.social-media__icons p {
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* Footer */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible__content .list {
  list-style: none;
  padding-left: 0;
}

.collapsible__content .link-arrow a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(-180deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.footer {
  background: var(--color-primary);
}

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid lightgray;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  width: 100%;
  max-width: 230px;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__brand {
    order: -1;
    margin-top: 2rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }

  .footer__section {
    border: 0;
  }

  .footer__heading {
    font-size: 2.6rem;
  }
}
