<section class="credit-cards">
  <div class="container credit-card__container">
    <a href="#" class="credit-card__link"
      ><img
        src="/images/vertical-1-stretched.jpg"
        alt="Find a credit card information."
        class="credit-card-vertical-stretched__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/vertical-2-stretched.jpg"
        alt="Global Freedom Unlimited Card."
        class="credit-card-vertical-stretched__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/vertical-3-stretched.png"
        alt="Global Auto Options"
        class="credit-card-vertical-stretched__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/horizontal-1.jpg"
        alt="Find a credit card information."
        class="credit-card-horizontal__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/horizontal-2.jpg"
        alt="Global Freedom Unlimited Card."
        class="credit-card-horizontal__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/horizontal-3.png"
        alt="Fraud Protection Information"
        class="credit-card-horizontal__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/vertical-1.jpg"
        alt="Credit card options."
        class="credit-card-vertical__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/vertical-2.jpg"
        alt="Global Unlimited card."
        class="credit-card-vertical__image"
    /></a>
    <a href="#" class="credit-card__link"
      ><img
        src="/images/vertical-3.png"
        alt="Checking account information."
        class="credit-card-vertical__image"
    /></a>
  </div>
</section>
