<a class="link-arrow" href="#">
  <article class="grid grid--feature feature">
    <h2 class="feature__title">Security and control at your fingertips</h2>
    <img
      class="feature__image"
      src="/images/feature-1.jpg"
      alt="A mobile to show portability"
    />
    <div class="feature__content">
      <p class="feature__description">
        With the Global Mobile® app, you can manage your accounts anytime,
        anywhere. Lock your card, view recent transactions, set up payments and
        more.
      </p>
      <button class="btn btn--green">Continue</button>
    </div>
  </article>
</a>
