<div class="form__container">
  <h2 class="form__header">Welcome</h2>
  <form action="">
    <div class="form__input-fields">
      <input type="text" class="form__input" id="username" placeholder=" " />
      <label class="form__label" for="username">Username</label>
    </div>
    <div class="form__input-fields">
      <input
        type="password"
        class="form__input"
        id="password"
        placeholder=" "
      />
      <label class="form__label label--password" for="password">Password</label>
    </div>
    <input type="checkbox" id="rememberMe" class="form__checkbox" />
    <label for="rememberMe" class="form__checkbox-label">Remember Me</label>
    <a href="#" class="link-arrow"
      >Use token<svg class="icon--extrasmall icon--light">
        <use xlink:href="images/sprite-global.svg#chevron-right"></use>
      </svg>
    </a>
    <button class="btn btn--blue btn--stretched form__button">Sign in</button>
    <a href="#" class="link-arrow form__link"
      >Forgot username/password?
      <svg class="icon--extrasmall icon--light">
        <use xlink:href="images/sprite-global.svg#chevron-right"></use>
      </svg>
    </a>
    <a href="#" class="link-arrow form__link"
      >Not enrolled? Sign up now.
      <svg class="icon--extrasmall icon--light">
        <use xlink:href="images/sprite-global.svg#chevron-right"></use>
      </svg>
    </a>
  </form>
</div>
