<section class="hero">
  <div class="container hero__container hero__content-flex">
    <div class="hero__container">
      <img
        class="hero__image"
        src="/images/enjoy-200-fg.png"
        alt="Enjoy $200 cash."
      />
      <div class="hero__content">
        <h2 class="hero__title">New Global checking customers</h2>
        <p class="hero__description">
          Open an elegible Global checking account of your choice and setup a
          direct deposit.
        </p>
        <button class="btn btn--green hero__button">Open an account</button>
      </div>
    </div>
    <div class="form__container hero__form">
      <h2 class="form__header">Welcome</h2>
      <form action="">
        <div class="form__input-fields">
          <input
            type="text"
            class="form__input"
            id="username"
            placeholder=" "
          />
          <label class="form__label" for="username">Username</label>
        </div>
        <div class="form__input-fields">
          <input
            type="password"
            class="form__input"
            id="password"
            placeholder=" "
          />
          <label class="form__label label--password" for="password"
            >Password</label
          >
        </div>
        <input type="checkbox" id="rememberMe" class="form__checkbox" />
        <label for="rememberMe" class="form__checkbox-label">Remember Me</label>
        <a href="#" class="link-arrow hero__link"
          >Use token<svg class="icon--extrasmall icon--light">
            <use xlink:href="images/sprite-global.svg#chevron-right"></use>
          </svg>
        </a>
        <button class="btn btn--blue btn--stretched form__button">
          Sign in
        </button>
        <a href="#" class="link-arrow form__link hero__link"
          >Forgot username/password?
          <svg class="icon--extrasmall icon--light">
            <use xlink:href="images/sprite-global.svg#chevron-right"></use>
          </svg>
        </a>
        <a href="#" class="link-arrow form__link hero__link"
          >Not enrolled? Sign up now.
          <svg class="icon--extrasmall icon--light">
            <use xlink:href="images/sprite-global.svg#chevron-right"></use>
          </svg>
        </a>
      </form>
    </div>
  </div>
</section>
