<article class="media">
  <header class="media__header">
    <svg class="icon icon--light">
      <use xlink:href="images/sprite-global.svg#check"></use>
    </svg>
    <h3 class="media__title">Checking Accounts</h3>
  </header>
  <p class="media__description">
    Choose the
    <a class="link-arrow link--media" href="#">checking account</a> that works
    best for you. See our
    <a class="link-arrow link--media" href="#">Global Total Checking®</a>
    offer for new customers. Make purchases with your debit card, and bank from
    almost anywhere by phone, tablet or computer and 16,000 ATMs and more than
    4,700 branches.
  </p>
</article>
