<nav class="container nav--desktop">
  <div class="story--flex nav--flex nav__sections nav--flex-justified">
    <ul class="list list--inline nav__list--dark">
      <li class="list__item">
        <a href="#" class="link-arrow nav--desktop-accent">Personal</a>
      </li>
      <li class="list__item"><a href="" class="link-arrow">Business</a></li>
      <li class="list__item">
        <a href="" class="link-arrow">Commercial</a>
      </li>
    </ul>
    <ul class="list list--inline nav__list--light">
      <li class="list__item">
        <a class="link-arrow" href="#">Schedule a Meeting</a>
      </li>
      <li class="list__item">
        <a href="#" class="link-arrow">Customer Service</a>
      </li>
      <li class="list__item"><a href="" class="link-arrow">Español</a></li>
      <li class="list__item">
        <a href="" class="link-arrow">
          <svg class="icon--medium-small icon--light">
            <use xlink:href="images/sprite-global.svg#search"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav__sections">
    <img src="/images/Rectangular-Global-Black.png" alt="Global Bank Logo" />
  </div>
  <div class="story--flex nav--flex nav__sections">
    <ul class="list list--inline nav__list--dark">
      <li class="list__item list__item--underlined">
        <a href="#" class="link-arrow">Checking & Savings</a>
      </li>
      <li class="list__item list__item--underlined">
        <a href="" class="link-arrow">Credit Cards</a>
      </li>
      <li class="list__item list__item--underlined">
        <a href="" class="link-arrow">Home Loans</a>
      </li>
      <li class="list__item list__item--underlined">
        <a href="#" class="link-arrow">Auto</a>
      </li>
      <li class="list__item list__item--underlined">
        <a href="" class="link-arrow">Investing by J.P. Morgan</a>
      </li>
      <li class="list__item list__item--underlined">
        <a href="" class="link-arrow">Education & Goals</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="container nav story--flex nav--flex">
  <a href="#" class="nav__menu"
    ><svg class="icon icon--dark">
      <use xlink:href="images/sprite-global.svg#menu"></use>
    </svg>
  </a>
  <a class="nav__logo" href="#"
    ><img src="/images/Rectangular-Global-Black.png" alt="Global Bank Logo"
  /></a>
  <div class="nav__signin">
    <a class="btn nav__signin-link">Sign In</a>
    <a class="btn btn--blue nav__signin-btn">Sign In</a>
    <a href="#" class="nav__menu nav__signin-icon"
      ><svg class="icon--medium-small icon--dark">
        <use xlink:href="images/sprite-global.svg#search"></use>
      </svg>
    </a>
  </div>
</nav>
