<section class="social-media">
  <div class="container social-media__container">
    <article class="social-media__icons">
      <p>Follow us:</p>
      <a class="social-media__link" href="#">
        <svg class="icon--small icon--dark">
          <use xlink:href="images/sprite-global.svg#facebook"></use>
        </svg>
      </a>
      <a href="" class="social-media__link">
        <svg class="icon--small icon--dark">
          <use xlink:href="images/sprite-global.svg#instagram"></use>
        </svg>
      </a>
      <a href="" class="social-media__link">
        <svg class="icon--small icon--dark">
          <use xlink:href="images/sprite-global.svg#twitter"></use>
        </svg>
      </a>
      <a href="" class="social-media__link">
        <svg class="icon--small icon--dark">
          <use xlink:href="images/sprite-global.svg#youtube"></use>
        </svg>
      </a>
      <a href="" class="social-media__link">
        <svg class="icon--small icon--dark">
          <use xlink:href="images/sprite-global.svg#linkedin"></use>
        </svg>
      </a>
      <a href="" class="social-media__link">
        <svg class="icon--small icon--dark">
          <use xlink:href="images/sprite-global.svg#pinterest"></use>
        </svg>
      </a>
    </article>
  </div>
</section>
