<section class="stories">
  <div class="container">
    <header class="stories__header">
      <h2 class="stories__heading">News & Stories</h2>
    </header>

    <div class="stories__container">
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-1.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">
              Customer Service: Tools to manage your account
            </p>
          </div>
        </a>
      </article>
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-2.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">
              Global is committed to helping close the racial wealth gap
            </p>
          </div>
        </a>
      </article>
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-3.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">
              Videos to help you bank from your device
            </p>
          </div>
        </a>
      </article>
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-4.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">
              Spotlight Stories: Brewing up generation wealth
            </p>
          </div>
        </a>
      </article>
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-5.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">What, exactly, is a 401(k)?</p>
          </div>
        </a>
      </article>
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-6.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">
              Bringing art to children during a pandemic
            </p>
          </div>
        </a>
      </article>
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-7.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">
              Is it time to make the switch to an electric vehicle?
            </p>
          </div>
        </a>
      </article>
      <article class="story">
        <a href="#" class="link-arrow">
          <div class="story--flex">
            <img
              class="story__image"
              src="/images/story-8.jpg"
              alt="A woman banking from her mobile while drinking coffee."
            />
            <p class="story__description">
              Rent in the city or buy in the 'burbs?
            </p>
          </div>
        </a>
      </article>
      <a href="#" class="link-arrow link--story"
        >Show me more<svg class="icon--extrasmall icon--light">
          <use xlink:href="images/sprite-global.svg#chevron-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
